body {
	padding-right:30px;
	background-color:white;
}
h1 {text-align:center;}

a:link {
	color:inherit;
	text-decoration:underline;
}
a:hover {
	color:inherit;
	text-decoration:none;
}
a:visited {
	color:inherit;
	text-decoration:underline;
}

/* Font styles */
.g {font-weight:bold;}
.i {font-style:italic;}

/* Colors */
.b, .bl, tt.varname,h5 a tt.literal {color:blue;}
.r {color:red;}
.gr {color:green;}
.o {color:#a80;}
.e {color:#666;}
.cy {color:#077;}
.vi {color:#a0a;}

.s {font-variant:small-caps;}
pre.programlisting {
	border:1px dashed black;
	background-color:#eef;
	padding:5px;
}

.intent {font-variant:small-caps;}

h3 span.c {font-size:22px;}
.simplesect {margin-left:0px;}

.top {
	position:absolute;
	right:5px;
	background-color:#eee;
	font-size:10px;
}

div.generated {
	font-size:8pt;
	font-style:italic;
}
